* {
    margin: 0;
    padding: 0;
}

.hero{
    background-image: url(https://images3.alphacoders.com/165/thumb-1920-165265.jpg);
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 100vh;
    /* background: red; */
    padding: 20px 10%;
}
nav{   
    display: flex;
  
    justify-content: space-between;
    padding: 40px;
}
.logo{
    width: 160px;
    cursor: pointer;
    color: wheat;
    font-size: 28px;
    
    
}
span{
    color: red;
}
nav ul li{
    display: inline-block;
    padding: 10px 20px;
    list-style: none;
    font-size: large;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
   

}
nav ul li a:hover{
  color: #ea1538;
}
button{
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}
button:hover{
    transform: scale(1.3);
}